</div>
<?php
    use Pm\Firemon112\Models\Depesche;
    $alignToggle = false;
    $vars = get_class_vars('Pm\Firemon112\models\Depesche');

    foreach ($vars as $k => $v) {
        if (is_array($v)) {
            $value = array();
            if (array_key_exists($k,$depesche) && is_array($depesche[$k])) {
                $value = $depesche[$k];
            }
            echo '
                <div class="form-group text-field span-left">
                <label for="'.$k.'">'.$k.' (Elemente per ENTER getrennt)</label>
                <textarea id="'.$this->getId().'['.$k.']" name="'.$k.'" autocomplete="off" class="form-control field-textarea size-small" placeholder="">'.implode($value,"\n").'</textarea>
                </div>
            ';
            echo '
                <div class="form-group text-field span-right">
                    <label for="'.$this->getId().'-stichwort">Schnellauswahl Stichwort</label>
                    <select id="'.$this->getId().'-stichwort" name="stichwort" class="form-control custom-select" onchange="javascript:stichwortChange();"><option value="">Bitte wählen</option>';
                        foreach ($stichworte as $stichwort) {
                            echo '<option value="'.e($stichwort->toJson()).'">'.$stichwort->stichwort.'</option>';
                        }
            echo '  </select>
                    <label for="'.$this->getId().'-objekt">Schnellauswahl Einsatzobjekt</label>
                    <select id="'.$this->getId().'-objekt" name="objekt" class="form-control custom-select" onchange="javascript:objektChange();"><option value="">Bitte wählen</option>';
                        foreach ($objekte as $objekt) {
                            echo '<option value="'.e($objekt->toJson()).'">'.$objekt->einsatzobjekt.'</option>';
                        }
            echo '  </select>
                </div>
            ';
        } else {
            //if ($k == "Einsatznummer") {
            //    echo '<div class="form-group text-field span-full">';
            //} else {
                if ($alignToggle) {
                    echo '<div class="form-group text-field span-right">';
                } else {
                    echo '<div class="form-group text-field span-left">';
                }
                $alignToggle = !$alignToggle;
            //}
            $value = "";
            if (array_key_exists($k, $depesche)) {
                $value = $depesche[$k];
            }
            if ($k == "Einsatzbeginn" && strlen($value) <= 0) {
                date_default_timezone_set('Europe/Berlin');
                $value = date("d.m.Y H:i:s");
            }
            echo '
                <label for="'.$k.'">'.$k.' '.($k == "Einsatznummer" ? 'TESTALARM eingeben für Testalarmierung' : '').'</label>
                <input
                        type="text"
                        id="'.$this->getId().'['.$k.']"
                        name="'.$k.'"
                        value="'.$value.'"
                        class="form-control"
                        autocomplete="off" />
                ';
            echo '</div>';
        }
    }
?>
<div>