<div class="form-group text-field span-full">
    <textarea id="<?= $id ?>" name="<?= $name ?>" autocomplete="off" class="form-control field-textarea size-small" placeholder="" style="font-size: 10px;"><?= e($json) ?></textarea>
</div>