subject = "Erinnerung an {{ event.label }}"
==

Hi {{ name }},

dies ist eine Termin-Erinnerung.
Anlass: {{ event.label }} für {{ event.groups_readable }} ({{ event.category_readable }})
Ort: {{ event.location }}
Beginn: {{ event.date_from_formatted }}
Ende: {{ event.date_to_formatted }}
Beschreibung:
{{ event.description|striptags }}

{% if event.duty %}Es handelt sich im eine Pflichtveranstaltung.{% endif %}
{% if event.public %}Es handelt sich im eine öffentliche Veranstaltung.{% endif %}

{% if event.subscription_required %}
Eine Zu- oder Absage wird erbeten.
{% if subscription %}
Du hast bereits > {% if subscription.available %}ZUGESAGT{% else %}ABGESAGT{% if subscription.reason|length > 0 %} < (Grund: {{ subscription.reason }}){% endif %}{% endif %}.
Wenn Du diese Entscheidung ändern möchtest kannst Du das bis zum Beginn der Veranstaltung über firemon112.de machen.
{% else %}
Du hast bisher weder zu- noch abgesagt. Das kannst Du sofort nachholen! Bist Du dabei?

=> Klar, ich bin dabei! Link: {{ subscribe_positive_url }}
=> Nein, ich bin nicht dabei. Link: {{ subscribe_negative_url }}

{% endif %}
{% endif %}
==

<p>Hi {{ name }},</p>

<p>
    dies ist eine Termin-Erinnerung.
    Anlass: <b>{{ event.label }}</b> für {{ event.groups_readable }} ({{ event.category_readable }}).<br /><br />
    Ort: <b>{{ event.location }}</b><br />
    Beginn: <b>{{ event.date_from_formatted }}</b><br />
    Ende: <b>{{ event.date_to_formatted }}</b><br />
    Beschreibung:<br />
    {{ event.description|raw }}<br /><br/>
    {% if event.duty %}<br />Es handelt sich im eine Pflichtveranstaltung.{% endif %}
    {% if event.public %}<br />Es handelt sich im eine öffentliche Veranstaltung.{% endif %}
</p>

{% if event.subscription_required %}
    <p><b>Eine Zu- oder Absage wird erbeten.</b></p>
{% if subscription %}
<p>
    Du hast bereits <b>{% if subscription.available %}ZUGESAGT{% else %}ABGESAGT{% if subscription.reason|length > 0 %}</b> (Grund: {{ subscription.reason }}){% endif %}{% endif %}.<br />
    Wenn Du diese Entscheidung ändern möchtest kannst Du das bis zum Beginn der Veranstaltung über firemon112.de machen.
</p>
{% else %}
<p>
    Du hast bisher weder zu- noch abgesagt. Das kannst Du sofort nachholen! Bist Du dabei?
</p>
<p>
    <a href="{{ subscribe_positive_url }}" style="background-color: green; color: white; padding: 10px; margin: 10px; display: block;"> Klar, ich bin dabei!</a><br /><br />
    <a href="{{ subscribe_negative_url }}" style="background-color: red; color: white; padding: 10px; margin: 10px; display: block;">Nein, ich bin nicht dabei</a>
</p>
{% endif %}
{% endif %}