subject = "Weiterleitung von Firemon 112: {{ original_subject }}"
==

Hi {{ name }},

es ist eine E-Mail an {{ original_email }} empfangen worden. Der E-Mail Text folgt.

Originale E-Mail

{{ mail_text }}
==

<p>Hi {{ name }},</p>

<p>es ist eine E-Mail an {{ original_email }} empfangen worden. Der E-Mail Text folgt.</p>

<h1>Originale E-Mail</h1>

<p>
    {{ mail_text|nl2br }}
</p>