subject = "Firemon 112 - Neuer Benutzer registriert!"
==
Hi {{ name }},

es wurde ein neuer Account über die App oder die Website unter Verwendung des Registrierungs-PINs erstellt:

{{ first_name }} {{ last_name }} ({{ email }})

Bitte prüfe, ob es sich um einen legitimen Benutzer handelt - wenn nicht sollte der Benutzer gelöscht und der Registrierungs-PIN geändert werden.

Neu registrierte Benutzer erhalten zunächst keinerlei Zusatz-Alarmierungen - dies erfolgt erst, nachdem Schleifen zugewiesen wurden.

Zur Benutzerverwaltung: {{ link }}
==
<h1>Hi {{ name }},</h1>
<p>
    es wurde ein neuer Account über die App oder die Website unter Verwendung des Registrierungs-PINs erstellt:
</p>
<p>
    <b>{{ first_name }} {{ last_name }}</b> ({{ email }})<br />
</p>
<p>
    Bitte prüfe, ob es sich um einen legitimen Benutzer handelt - wenn nicht sollte der Benutzer gelöscht und der Registrierungs-PIN geändert werden.
</p>
<p>
    Neu registrierte Benutzer erhalten zunächst keinerlei Zusatz-Alarmierungen - dies erfolgt erst, nachdem Schleifen zugewiesen wurden.
</p>
<p>
    <a href="{{ link }}" target="_blank" style=" padding: 10px; margin: 10px; display: block; background-color: green; color:white;">zur Benutzerverwaltung</a><br /><br />
    Oder manuell in den Browser kopieren: {{ link }}
</p>