subject = "Firemon 112 Zugang erstellt"
==
Hi {{ name }}

es wurde ein Firemon 112 Zugang für Dich erstellt. Dieser Zugang kann je nach Berechtigungsstufe
für das Firemon 112 Verwaltungssystem und die Firemon 112 Einsatz-App verwendet werden.
Die Login-Daten lauten:

- Login: {{ login }}
{% if password|raw|length > 0 %}- Passwort: {{ password|raw }}{% endif %}

Achtung: Der Zugang muss vor dem erstmaligen Login noch aktiviert werden. Dafür den folgenden Link klicken:

Zugang aktivieren: {{ link }}

Nach dem erstmaligen Login solltest Du das Passwort rasch ändern. Dies kannst Du direkt nach Aktivierung oder über die Passwort vergessen Funktion machen.

Hinweis zum Datenschutz

Durch die Aktivierung deines Zugangs erklärst Du Dich mit der Verarbeitung deiner personenbezogenen Daten und der Datenschutzerklärung (https://firemon112.de/datenschutz) einverstanden.
Dies umfasst:
- Vorname, Nachname
- E-Mail
- ggf. Rufnummer(n)

Solltest Du Deinen Account nicht innerhalb von 7 Tagen aktivieren, so wird dein Vor- und Nachname pseudonymisiert.
==
<h1>Hi {{ name }}</h1>
<p>
    es wurde ein Firemon 112 Zugang für Dich erstellt. Dieser Zugang kann je nach Berechtigungsstufe
    für das Firemon 112 Verwaltungssystem und die Firemon 112 Einsatz-App verwendet werden.
    Die Login-Daten lauten:
</p>
<p>
    <b>Login:</b> {{ login }}<br />
    {% if password|raw|length > 0 %}
        <b>Passwort:</b> {{ password|raw }}
    {% endif %}
</p>
<p>
    Achtung: Der Zugang muss vor dem erstmaligen Login noch aktiviert werden. Dafür den folgenden Link klicken:
</p>
<p>
    <a href="{{ link }}" target="_blank" style=" padding: 10px; margin: 10px; display: block; background-color: green; color:white;">Zugang aktivieren</a><br /><br />
    Oder manuell in den Browser kopieren: {{ link }}
</p>
<p>
    Nach dem erstmaligen Login solltest Du das Passwort rasch ändern. Dies kannst Du direkt nach Aktivierung oder über die Passwort vergessen Funktion machen.
</p>
<h2>Hinweis zum Datenschutz</h2>
<p>
Durch die Aktivierung deines Zugangs erklärst Du Dich mit der Verarbeitung deiner personenbezogenen Daten und der Datenschutzerklärung (https://firemon112.de/datenschutz) einverstanden.
<br />Dies umfasst:
</p>
<ul>
    <li>Vorname, Nachname</li>
    <li>E-Mail</li>
    <li>ggf. Rufnummer(n)</li>
</ul>
<p>
    Solltest Du Deinen Account nicht innerhalb von 7 Tagen aktivieren, so wird dein Vor- und Nachname pseudonymisiert.
</p>