subject = "Firemon 112 Monitor Auflösung fehlerhaft"
==

Hi {{ name }},

Der Alarm Monitor {{ monitor }} scheint Probleme mit der Bildschirm-Auflösung zu haben! Die aktuell verwendete Version ist {{ res }} (Bildschirm-Auflösung hinter dem "@") und die Auflösung passt somit nicht zu den üblicherweise verwendeten Auflösungen:

{% for r in allowed_res %}
  - {{ r }}
{% endfor %}

Dies deutet aus einen fehlerhaften Betriebszustand hin und kann dazu führen, dass der Monitor im Einsatzfall nicht funktioniert.
Oftmals ist die Ursache ein Stromausfall - hier startet der Raspberry Pi noch bevor der Fernseher wieder hochgefahren ist.
Normalerweise behebt ein einfacher Neustart das Problem (kann über die Firemon 112 Webseite in der Geräteliste durchgeführt werden),
jedoch kann es auch notwendig sein, ins Gerätehaus zu fahren um den Fernseher per Fernbedienung einzuschalten um danach den Neustart durchzuführen.

Generell sollte überprüft werden, ob der Raspberry Pi automatisch den HDMI Port einschaltet und die korrekte Auflösung verwendet.

Dazu über die Konsole per sudo die Datei

/boot/config.txt

öffnen und prüfen ob die folgenden Werte gesetzt sind:

hdmi_force_hotplug=1
hdmi_group=1 (für Fernseher)
hdmi_group=2 (für PC-Monitore)
hdmi_mode=16

Diese Einstellungen lassen sich auch per Maus und Tastatur setzen - Anleitung hier: https://pimylifeup.com/raspberry-pi-screen-resolution/

Ende der Mitteilung.
==

<p>Hi {{ name }},</p>

<p>
  Der Alarm Monitor <u>{{ monitor }}</u> scheint Probleme mit dem Monitor zu haben! Die aktuell verwendete Auflösung ist <b>{{ res }}</b> und passt somit nicht zu den üblicherweise verwendeten Auslösungen:
</p>
<ul>
{% for r in allowed_res %}
<li>{{ r }}</li>
{% endfor %}
</ul>
<p>
Dies deutet aus einen fehlerhaften Betriebszustand hin und kann dazu führen, dass der Monitor im Einsatzfall nicht funktioniert.
Oftmals ist die Ursache ein Stromausfall - hier startet der Raspberry Pi noch bevor der Fernseher wieder hochgefahren ist.
Normalerweise behebt ein einfacher Neustart das Problem (kann über die Firemon 112 Webseite in der <a href="https://www.firemon112.de/devices">Geräteliste</a> durchgeführt werden),
jedoch kann es auch notwendig sein ins Gerätehaus zu fahren um den Fernseher per Fernbedienung einzuschalten um danach den Neustart durchzuführen.
</p>
<p>
Generell sollte überprüft werden, ob der Raspberry Pi automatisch den HDMI Port einschaltet und die korrekte Auflösung verwendet.<br /><br />
Dazu über die Konsole per sudo die Datei<br /><br />
<b>/boot/config.txt</b><br /><br />
öffnen und prüfen ob die folgenden Werte gesetzt sind:<br /><br />
hdmi_force_hotplug=1<br />
hdmi_group=1 (für Fernseher)<br />
hdmi_group=2 (für PC-Monitore)<br />
hdmi_mode=16<br /><br />
Diese Einstellungen lassen sich auch per Mais und Tastatur setzen - Anleitung hier: <a href="https://pimylifeup.com/raspberry-pi-screen-resolution/">https://pimylifeup.com/raspberry-pi-screen-resolution/</a>
</p>
<h1>Ende der Mitteilung.</h1>