subject = "Firemon 112 Monitor offline!"
==

Hi {{ name }},

Der Alarm Monitor {{ monitor }} ist aktuell nicht erreichbar! Der letzte Kontakt erfolgte {{ last_ping }}

Bitte kurzfristig den Betriebszustand des Monitors prüfen (Internet vorhanden? Strom vorhanden?).
Sollte der Monitor planmäßig offline sein, bitte den Geräte-Status auf Inaktiv setzen damit keine weiteren Mails unnötig versendet werden.
Möglicherweise wird der Monitor nicht an einem Raspberry Pi betrieben? In diesem Fall die Watchdog Option deaktivieren, auch dann werden keine Mails versendet.

Ende der Mitteilung.
==

<p>Hi {{ name }},</p>

<p>Der Alarm Monitor <b>{{ monitor }}</b> ist aktuell nicht erreichbar! Der letzte Kontakt erfolgte <b>{{ last_ping }}</b></p>

<p>
    Bitte kurzfristig den Betriebszustand des Monitors prüfen (Internet vorhanden? Strom vorhanden?).<br />
    Sollte der Monitor planmäßig offline sein, bitte den Geräte-Status auf Inaktiv setzen damit keine weiteren Mails unnötig versendet werden.<br />
    Möglicherweise wird der Monitor nicht an einem Raspberry Pi betrieben? In diesem Fall die Watchdog Option deaktivieren, auch dann werden keine Mails versendet.
</p>

<h1>Ende der Mitteilung.</h1>