subject = "Einladung zur Zweit-Mitgliedschaft: {{ station_name }}"
==

Hi {{ recipient }},

{{ sender }} hat Dich als Zweit-Mitglied bei {{ station_name }} eingeladen!
Als Zweit-Mitglied von {{ station_name }} kannst Du Alarm-Informationen von dort erhalten
und den Einsatz-Monitor für Einsätze von {{ station_name }} verwenden (entsprechende Berechtigung notwendig!).

Die Einladung kannst Du hier annehmen oder ablehnen: {{ response_url }}

==

<p>Hi {{ recipient }},</p>

<p>
    {{ sender }} hat Dich als Zweit-Mitglied bei {{ station_name }} eingeladen!<br />
    Als Zweit-Mitglied von {{ station_name }} kannst Du Alarm-Informationen von dort erhalten<br />
    und den Einsatz-Monitor für Einsätze von {{ station_name }} verwenden (entsprechende Berechtigung notwendig!).
</p>

<p>
    Die Einladung kannst Du <a href="{{ response_url }}">hier annehmen oder ablehnen</a>.
</p>