subject = "{{ recipient }} hat auf Deine Einladung reagiert"
==

Hi {{ sender }},

{{ recipient }} hat auf Deine Einladung zur Zweit-Mitgliedschaft bei {{ station_name }} reagiert: {{ response }}

Du kannst die Einladung ggf. jetzt erneut durchführen.

==

<p>Hi {{ sender }},</p>

<p>
    {{ recipient }} hat auf Deine Einladung zur Zweit-Mitgliedschaft bei {{ station_name }} reagiert: {{ response }}
</p>

<p>
    Du kannst nun mit der Zuweisung der Schleifen fortfahren oder ggf. die Einladung erneut versenden ;-)
</p>