subject = "Firemon 112 - Testaccount erstellt!"
==

Hi {{ obj.contact_person }},

Dein Testaccount wurde erstellt. Du müsstest bereits eine E-Mail mit Aktivierungslink erhalten haben und kannst Dich damit sofort einloggen.

Die nächsten Schritte für einen schnellen Start lauten:
- Wehrdaten prüfen und ggf. vervollständigen
- Den ersten Monitor anlegen (muss kein Raspberry Pi sein, kann auch mit einem normalen Browser erfolgen! Link: https://firemon112.de/monitor
- Ein Groß- und Sonderobjekt anlegen
- Ein paar Testhydranten in der Nähe anlegen
- SMS-Alarm-Rufnummer im eigenen Account eintragen
- Die erste Schleife anlegen (kann aus Gründen der Einfachheit eine Catch-All-Schleife sein, sollte später aber mit vernünftigen Suchtext definiert werden)
- Dich selbst dieser Schleife zuordnen
- Testalarm erstellen und die Häckchen für Realalarm setzen - dann sollte alles laufen!

Wenn Du noch irgendwelche Fragen hast, melde Dich gern direkt bei unserem Support (support@firemon112.org) - Vielen Dank!
==

<p>Hi {{ obj.contact_person }},</p>

<p>
    Dein Testaccount wurde erstellt. Du müsstest bereits eine E-Mail mit Aktivierungslink erhalten haben und kannst Dich damit sofort einloggen.<br />
    Die nächsten Schritte für einen schnellen Start lauten:
</p>

<ul>
    <li>Wehrdaten prüfen und ggf. vervollständigen</li>
    <li>Den ersten Monitor anlegen (muss kein Raspberry Pi sein, kann auch mit einem normalen Browser erfolgen! Link: https://firemon112.de/monitor</li>
    <li>Ein Groß- und Sonderobjekt anlegen</li>
    <li>Ein paar Testhydranten in der Nähe anlegen</li>
    <li>SMS-Alarm-Rufnummer im eigenen Account eintragen</li>
    <li>Die erste Schleife anlegen (kann aus Gründen der Einfachheit eine Catch-All-Schleife sein, sollte später aber mit vernünftigen Suchtext definiert werden)</li>
    <li>Dich selbst dieser Schleife zuordnen</li>
    <li>Testalarm erstellen und die Häckchen für Realalarm setzen - dann sollte alles laufen!</li>
</ul>

<p>
    Wenn Du noch irgendwelche Fragen hast, melde Dich gern direkt bei unserem Support (support@firemon112.org) - Vielen Dank!
</p>