subject = "Neue Testaccount Anmeldung {{ obj.station_name }}"
==

Hi,

es gibt eine neue Firemon 112 Testaccount-Registrierung!

Ansprechpartner: {{ obj.contact_person }}
Kontakt E-Mail: {{ obj.station_name }}
Feuerwehr Bezeichnung: {{ obj.station_name }}
Leitstelle: {% if obj.leitstelle %}{{ obj.leitstelle.name }}{% endif %}
Organisationsebene: {{ obj.station_type_readable }}
Gerätehaus Position (long / lat): {{ obj.long }} / {{ obj.lat }}
Kommentar: {{ obj.comment }}
==

<p>Hi</p>

<p>
    es gibt eine neue Firemon 112 Testaccount-Registrierung!
</p>

<ul>
    <li>Ansprechpartner: {{ obj.contact_person }}</li>
    <li>Kontakt E-Mail: {{ obj.station_name }}</li>
    <li>Feuerwehr Bezeichnung: {{ obj.station_name }}</li>
    <li>Leitstelle: {% if obj.leitstelle %}{{ obj.leitstelle.name }}{% endif %}</li>
    <li>Organisationsebene: {{ obj.station_type_readable }}</li>
    <li>Gerätehaus Position (long / lat): {{ obj.long }} / {{ obj.lat }}</li>
    <li>Kommentar: {{ obj.comment }}</li>
</ul>