subject = "Firemon 112 - Anmeldung für einen Testaccount"
==

Hi {{ obj.contact_person }},

vielen Dank für Dein Interesse an Firemon 112. Nach kurzer Prüfung bekommst Du meist innerhalb von 24 Stunden Deinen Testaccount!
Die von Dir angegebenen Daten lauten:

Ansprechpartner: {{ obj.contact_person }}
Kontakt E-Mail: {{ obj.station_name }}
Feuerwehr Bezeichnung: {{ obj.station_name }}
Leitstelle: {% if obj.leitstelle %}{{ obj.leitstelle.name }}{% endif %}
Organisationsebene: {{ obj.station_type_readable }}
Gerätehaus Position (long / lat): {{ obj.long }} / {{ obj.lat }}
Kommentar: {{ obj.comment }}

Wenn Du Deine Anmeldung rückgängig machen möchtest oder evtl. garnicht weist, worum es hier geht melde Dich direkt bei unserem Support (support@firemon112.org) - Vielen Dank!
==

<p>Hi {{ obj.contact_person }},</p>

<p>
    vielen Dank für Dein Interesse an Firemon 112. Nach kurzer Prüfung bekommst Du meist innerhalb von 24 Stunden Deinen Testaccount!<br />
    Die von Dir angegebenen Daten lauten:
</p>

<ul>
    <li>Ansprechpartner: {{ obj.contact_person }}</li>
    <li>Kontakt E-Mail: {{ obj.station_name }}</li>
    <li>Feuerwehr Bezeichnung: {{ obj.station_name }}</li>
    <li>Leitstelle: {% if obj.leitstelle %}{{ obj.leitstelle.name }}{% endif %}</li>
    <li>Organisationsebene: {{ obj.station_type_readable }}</li>
    <li>Gerätehaus Position (long / lat): {{ obj.long }} / {{ obj.lat }}</li>
    <li>Kommentar: {{ obj.comment }}</li>
</ul>

<p>
    Wenn Du Deine Anmeldung rückgängig machen möchtest oder evtl. garnicht weist, worum es hier geht melde Dich direkt bei unserem Support (support@firemon112.org) - Vielen Dank!
</p>