<div class="form-group">
    <label for="notification_json">Notification JSON</label>
    <textarea id="notification_json" name="notification_json" class="form-control" rows="5"></textarea>
</div>
<input type="hidden" name="token" value="<?= $formModel->token ?>">
<input type="hidden" name="token_type" value="<?= $formModel->token_type ?>">
<button type="button"
        class="btn btn-primary"
        data-request="onSendTestNotification"
        data-request-url="<?= Backend::url('pm/firemon112/pushtoken/onSendTestNotification') ?>">
    Send Notification
</button>

