<?php

if ($record->getIsOnlineStateOk()) {
    echo '<i class="icon-certificate" style="color: green;"></i> ';
}
if ($record->getIsOnlineStateWarning()) {
    echo '<i class="icon-exclamation-triangle" style="color: orange;"></i> ';
}
if ($record->getIsOnlineStateError()) {
    echo '<i class="icon-ban" style="color: red;"></i> ';
}
echo $record->getLastHeartbeatMinutesReadableAttribute();